<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div>
      <h1>Reviews:</h1>
      <% @ratings.each do |rating| %>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>User</dt>
          <dd><%= rating.user.name %></dd>
          <dt>Description</dt>
          <dd><%= rating.description %></dd>
          <dt>Rating</dt>
          <dd><%= rating.rating %> / 5</dd>
        </dl>
      </div>
      <% end %>

    <% if current_user %>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
          <h3>Add Review</h3>
          <%= form_for [@product, Rating.new] do |form| %>

            <% if form.object.errors.any? %>
              <div class="alert alert-danger">
                <strong>The following errors prevented saving:</strong>
                <ul>
                  <% form.object.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :description %>
              <%= form.text_area :description, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :rating  %>
              <%= form.select :rating, [[' 1 horrible', 1], ['2 poor', 2], [' 3 mediocre', 3], ['4 good', 4], [' 5 great', 5]], class: 'form-control' %>
            </div>

            <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>


  </article>

</section>
