<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <% if current_user %>
            <h3>Add Review</h3>
            <%= form_for [@product, Rating.new] do |form| %>

            <% if form.object.errors.any? %>
              <div class="alert alert-danger">
                <strong>The following errors prevented saving:</strong>
                <ul>
                  <% form.object.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :description %>
              <%= form.text_area :description, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :rating %>
              <%= form.select :rating, [[' 5 Awesome!', 5], ['4 Good', 4], [' 3 Average', 3], ['2 Poor', 2], [' 1 Awful', 1]], class: 'form-control' %>
            </div>

            <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
          <% end %>
          <% end %>
        </div>
        <div class="col-sm-7 col-sm-offset-1 product-rating">
          <h2>Reviews:</h2>
          <h3>Average rating: <%= @average_rating %></h3>
          <div>
            <%= render @ratings %>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
